.skillsSectionContainer{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    padding-top: 7vh;
    overflow: hidden;
}
.skillsSectionContainer h2{
    color: var(--black);
    text-align: center;
    font-size: 3rem;
    animation: var(--fadeIn) 1s ease-in forwards;
    display: block;
    margin-bottom: 2.5rem;
}
.skillsSectionContainer h2 span{
    color: var(--secondary);
}
.skillsSectionContainer .rowsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    overflow: hidden;
    padding-top: 1.25rem;
}
.rowsContainer .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.75rem;
    animation: var(--fadeIn) 1s ease-in forwards;
}
.row .skillsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: solid 2px var(--secondary);
    border-radius: 1.5rem;
    padding:2.5rem 1rem 1rem;
    position: relative;
}
.row .skillsContainer:nth-child(1){
    animation: var(--slideDown) 0.75s ease-in forwards;
}
.row .skillsContainer:nth-child(2){
    animation: var(--slideUp) 0.75s ease-in forwards;
}
.skillsContainer .skillHeading{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary);
    color: #fff;
    padding: 0.5rem 0.75rem;
    border-radius:1.5rem;
}
.skillsContainer .skillContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillContainer img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.skillContainer p{
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 500;
}

/* @media screen and (max-width:800px) {
} */
@media screen and (max-width:426px) {
    .skillsSectionContainer{
        padding:0.25rem 0 1rem;
    }
    .skillsSectionContainer h2{
        margin-bottom: 1rem;
    }
    .skillsContainer .skillHeading{
        white-space: nowrap;
    }
    .skillContainer img{
        width: 4rem;
        height: 4rem;
    }
    .skillContainer p{
        font-size: 0.8rem;
    }
}