.websitesSectionContainer{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    padding-top: 8vh;
    padding-bottom: 2vh;
}
.websitesSectionContainer .heading{
    color: var(--secondary);
    text-align: center;
    font-size: 3rem;
    margin:0.75rem 0 1.25rem;
}
.websitesContainer .websiteContainer{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 2.5rem;
}
.websiteContainer .customSwiperContainer{
    width: 50%;
    height: max-content;
    border: solid 0.15rem var(--lightGray);
    border-radius: 0.75rem;
    overflow: hidden;
}
.websiteContainer .websiteDetailsContainer{
    width: 50%;
}
.websiteDetailsContainer .name{
    font-size: 5vw;
    font-weight: 900;
    background: var(--linearGradient);
    background-clip: text;
    color: transparent;
    animation: var(--linearGradientAnimation) 7s linear infinite alternate;
}
.websiteDetailsContainer .useCase{
    font-size: 1.5rem;
}
.websiteDetailsContainer .techStackContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin:1.5rem 0;
}
.techStackContainer p{
    color: #fff;
    background-color: #000;
    padding:0.5rem;
    border-radius: 0.5rem;
    cursor: default;
    box-shadow: var(--heroShadow);
}
.techStackContainer .tailwindcss{
    background-color: #00BCFF;
}
.techStackContainer .mongodb{
    background-color: rgb(29, 185, 29);
}
.techStackContainer .expressjs{
    background-color: #fff;
    color: #000;
}
.techStackContainer .reactjs{
    background-color: #00D8FF;
    color: #fff;
}
.techStackContainer .restapi{
    background-color: gray;
}
.techStackContainer .python{
    background-color: blue;
    color: yellow;
}
.techStackContainer .huggingface{
    background-color: yellow;
    color: #000;
}
.techStackContainer .langchain{
    background-color: #1C3C3C;
    color: #fff;
}
.techStackContainer .streamlit{
    background-color: #FF5D5D;
    color: #fff;
}
.websiteDetailsContainer .linksContainer a{
    display: inline-block;
    padding:0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary);
    cursor: pointer;
    box-shadow: var(--heroShadow);
    margin-right:0.5rem;
    transition: all ease 0.1s;
}
.websiteDetailsContainer .linksContainer a:hover{
    scale: 1.1;
}
.websiteDetailsContainer .linksContainer .visit, .websiteDetailsContainer .linksContainer .github{
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap:0.5rem;
}
.websiteDetailsContainer .linksContainer img{
    width: 1rem;
}
.websiteDetailsContainer .linksContainer .github{
    color: var(--lightGray);
    background-color: var(--black);
    letter-spacing: 1px;
    font-weight: 700;
}


@media screen and (max-width:800px) {
    .websitesSectionContainer{
        padding: 0.5rem 0 1rem;
    }
    .websitesSectionContainer .heading{
        font-size: 2.5rem;
    }
    .websitesContainer .websiteContainer{
        width: 100%;
        flex-direction: column !important;
        padding: 0.5rem;
        border-bottom: solid 1px var(--lightGray);
    }
    .websitesContainer .websiteContainer:last-child{
        border:none;
    }
    .websiteContainer .customSwiperContainer{
        width: 100%;
        border-radius: 0.5rem;
    }
    .websiteContainer .websiteDetailsContainer{
        width: 100%;
        padding: 0 !important;
        text-align: center;
    }
    .websiteDetailsContainer .name{
        font-size: 2rem;
    }
    .websiteDetailsContainer .useCase{
        font-size: 1rem;
    }
    .websiteDetailsContainer .techStackContainer{
        justify-content: center;
        gap: 0.5rem;
        margin: 0.5rem 0;
    }
}
@media screen and (max-width:426px) {
    .websitesSectionContainer .heading{
        font-size: 2rem;
    }

}