* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  text-decoration: none;
  font-family: 'Segoe UI';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --backgroundcolor: #1f242d;
  --masterblue: #00EEFF;
  --text: #fff;
}

header {
  width: 100%;
  height: 7.5vh;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: var(--backgroundcolor);
}

header .logo-container h2 {
  font-size: 2rem;
  cursor: default;
  animation: slide-right 0.5s ease forwards;
  color: var(--masterblue);

  & span {
    color: var(--text);
  }
}

header nav a {
  color: var(--text);
  margin: 0 2.5rem;
  display: inline-block;
  opacity: 0;
  animation: slide-top 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));

  &:nth-of-type(odd) {
    --i: 1;
  }

  &:nth-of-type(even) {
    --i: 2;
  }
}

header nav a:hover {
  color: var(--masterblue);
}
nav .active {
  color: var(--masterblue) !important;
}
header .menu-icon-container {
  display: none;
}
main {
  width: 100vw;
  height: 100vh;
  color: var(--text);
  background-color: var(--backgroundcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.5%;
  padding-top: 7.5vh;
}

main .lineContainer{
  user-select: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--masterblue);
  position: absolute;
  overflow: hidden;
}

main .hero-details-container {
  font-size: 2.5rem;
  opacity: 0;
  animation: slide-right 0.2s ease forwards;
  animation-delay: 0.5s;

  & h1 {
    display: inline;
    color: var(--masterblue);
    opacity: 0;
    animation: slide-top 0.75s forwards;
    animation-delay: 0.8s;
  }

  & p {
    font-size: 2rem;

    &>span {
      font-size: 1.5rem;
      color: var(--masterblue);
    }
  }

  & button {
    width: 10rem;
    margin-top: 1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    background-color: var(--masterblue);
    color: var(--backgroundcolor);
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem var(--masterblue);
    transition: scale ease 0.1s;

    &:hover {
      cursor: pointer;
      scale: 1.1;
      box-shadow: 0 0.025rem 0.5rem var(--masterblue);
    }
  }
}

main .hero-image-container {
  width: 50%;
  & img {
    width: 50%;
    display: block;
    margin: auto;
    opacity: 0;
    filter: drop-shadow(0.1rem 0.1rem 0.3rem var(--masterblue));
    animation: zoom 0.5s ease-in forwards, heroAnimate ease-in-out 3s infinite;
    animation-delay: 0.5s, 0.5s;
  }
}

.projects-container {
  padding-top: 10vh;
  width: 100%;
  text-align: center;
  background-color: var(--backgroundcolor);
  z-index: 9;
  overflow: hidden;
}

.projects-container>p {
  color: var(--text);
}

.projects-container>h2 {
  color: var(--masterblue);
}

.projects {
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  overflow: hidden;
}

.projects .project {
  width: 75%;
  height: 27rem;
  padding-top: 0.3rem;
  border-radius: 0.75rem;
  border: solid 0.1rem var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--backgroundcolor);
  overflow: hidden;
  transition: all ease 0.5s;

  &:nth-child(even) {
    transform: translateX(100vw);
  }

  &:nth-child(odd) {
    transform: translateX(-100vw);
  }
}

.project .goTo {
  width: max-content;
  position: fixed;
  font-size: 1.25rem;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--masterblue);
  background-color: var(--backgroundcolor);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  transition: all ease 0.2s;
}

.project .goTo:hover {
  color: var(--text);
}

.project:hover {
  scale: 1.05;
  box-shadow: 0 0 0.25rem var(--text);
}

.projects .project-translatex {
  &:nth-child(even) {
    transform: translateX(0);
  }

  &:nth-child(odd) {
    transform: translateX(0);
  }
}

.projects .project h2 {
  border-radius: 1rem;
  color: var(--masterblue);
}

.projects .project p {
  color: var(--text);
}

.projects .project img {
  width: 100%;
  align-items: baseline;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.projects-container .websites-container {
  width: 100%;
  padding: 10vh 0 0;
}

.websites-container>h2 {
  color: var(--masterblue);
}

.websites {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.websites .website {
  width: 60%;
  border: solid 0.1rem;
  transition: all ease 0.5s;
  border: solid 0.1rem var(--text);
  position: relative;
}

.websites .website a {
  font-size: 1.5rem;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text);
  color: var(--backgroundcolor);
  padding: 0.75rem 1rem;
  transition: all ease 0.2s;
}

.websites .website:hover {
  width: 65%;
}

.website a:hover {
  border-radius: 0.5rem;
}

.websites .website img {
  display: block;
  margin: auto;
  width: 100%;
  opacity: 0.8;
}
.projects-container .appsContainer{
  padding-top: 10vh;
}
.appsContainer h2{
  color: var(--masterblue);
}
.appsContainer p{
  color: var(--text);
}
.projects-container .appsContainer p span {
  color: #FF4545;
  font-size: 1.5rem;
}

.projects-container .appsContainer .appImagesContainer {
  display: flex;
  margin: 1rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.projects-container .appsContainer .appImagesContainer img {
  width: 17.5vw;
}

.projects-container .appsContainer .appImagesContainer a {
  color: var(--text);
  background-color: #ff4545;
  height: max-content;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.about-container {
  width: 100%;
  text-align: center;
  padding: 10vh 1rem 2rem;
  background-color: var(--backgroundcolor);
}

.about-container>p {
  color: var(--text);
}

.about-container>h2 {
  color: var(--masterblue);
  margin-bottom: 1rem;
}

.about-container .aboutMe {
  width: 100%;
}

.aboutMe p {
  width: 80%;
  margin: 1rem auto 2rem;
  text-align: justify;
  color: #fff;
}

.about-details-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.about-details-container .about-box {
  width: 80%;
  margin: 1.75rem 0;
  padding: 1.75rem 0;
  border: solid 0.15rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: var(--text);
  opacity: 0;
}

.about-details-container .zoom {
  animation: zoom 0.5s ease forwards;
}

.about-details-container .about-box .language {
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 25%;
}

.about-details-container .about-box h3 {
  color: var(--masterblue);
}

.about-box p {
  color: var(--text);
}

.about-details-container div p span {
  margin-right: 1rem;
  color: var(--masterblue);
}

.footer-container {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--backgroundcolor);
}

.footer-container h2 {
  color: var(--masterblue);
}

.footer-container p {
  color: var(--text);
}

.footer-links-container {
  padding: 1rem;
}

.footer-links-container a i {
  color: var(--masterblue);
  font-size: 2.5rem;
  margin: 0 1rem;
}

/* Key Frames */
@keyframes slide-right {
  0% {
    transform: translate(-75%);
  }

  100% {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(2.5rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes heroAnimate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* Media queris */
@media (width<480px) {
  header {
    padding: 0.5rem 1rem;
    height: 7.5vh;
  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: var(--backgroundcolor);
    top: 7.5vh;
    right: 0;
    width: 50%;
    height: 35vh;
    overflow: hidden;
    transform: translateX(100%);
    transition: all 0.25s;
  }

  header .active-nav {
    transform: translateX(0);
  }

  header .menu-icon-container {
    display: block;
    animation: zoom 0.75s ease;

    & i {
      color: var(--masterblue);
      font-size: 2rem;
    }
  }

  main {
    justify-content: unset;
    flex-direction: column-reverse;
    gap: 1.5rem;
    height: 92.5vh;
    padding: 1rem;

    & .hero-details-container {
      font-size: 2rem;
      gap: 1rem;
      width: 100%;

      & p {
        font-size: 1rem;
      }
    }

    & .hero-image-container {
      width: 100%;
      & img {
        width: 80%;
      }
    }
  }

  main .numbersContainer {
    display: none;
  }

  .projects-container {
    padding-top: 8vh;
  }

  .projects {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .projects .project {
    width: 100%;
    height: 25rem;
  }

  .project .goTo {
    bottom: 1rem;
    background-color: var(--backgroundcolor);
  }

  .websites {
    flex-wrap: wrap;
  }

  .websites .website {
    min-width: 90%;
    max-width: 90%;
  }

  .projects-container {
    padding-bottom: 0;
  }

  .projects-container .appsContainer .appImagesContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .projects-container .appsContainer .appImagesContainer img {
    width: 90vw;
  }

  .projects-container .appsContainer .appImagesContainer a {
    order: 3;
  }

  .about-container {
    width: 100%;
    padding-top: 4rem;
  }

  .aboutMe p {
    width: 95%;
  }

  .about-details-container {
    margin-top: 2rem;
    gap: 0.5rem;
    grid-template-columns: 1fr;
  }

  .about-details-container .about-box {
    padding: 1rem 0.5rem;
    margin: 1.25rem 0;
    width: 100%;
    font-size: 0.8rem;
  }

  .about-details-container div .language {
    padding-left: 35%;
  }
}