*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family:'Segoe UI';
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body::-webkit-scrollbar{
  display: none;
}
#root{
  width:100%;
  height: 100%;
  position: relative;
}
:root{
  --backgroundcolor : #1f242d;
  --masterblue : #0ef;
  --text:#fff;
}
header{
  width: 100%;
  position: fixed;
  top:0;
  z-index:1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem 5rem;
  background-color: var(--backgroundcolor);
}
header .logo-container h2{
  font-size: 2rem;
  cursor: default;
  animation: slide-right 0.5s ease forwards;
  color:var(--masterblue);
  & span{
    color: var(--text);
  }
}
header nav a{
  color:var(--text);
  margin:0 2.5rem;
  display: inline-block;
  opacity: 0;
  animation: slide-top 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  &:nth-of-type(odd){
    --i:1;
  }
  &:nth-of-type(even){
    --i : 2;
  }
}
header nav a:hover, nav .active{
  color:var(--masterblue);
}
header .menu-icon-container{
  display: none;
}
main{
  width: 100vw;
  height: 100vh;
  color:var(--text);
  background-color:var(--backgroundcolor);
  padding:0 5rem;
  display: flex;
  gap:10%;
  justify-content: space-between;
  align-items: center;
}
main .hero-details-container{
  width: 45%;
  display: flex;
  gap:1.5rem;
  flex-direction: column;
  opacity: 0;
  animation: slide-right 0.2s ease forwards;
  animation-delay: 0.5s;
  & h1{
    color: var(--masterblue);
    opacity: 0;
    animation: slide-top 0.75s forwards;
    animation-delay: 0.75s;
  }
  & p{
    font-size: 1.25rem;
   & > span{
    font-size: 1.5rem;
    color: var(--masterblue);
   }
  }
  & button{
    width: 10rem;
    padding:0.75rem 1rem;
    background-color: var(--masterblue);
    color:var(--backgroundcolor);
    border:none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem var(--masterblue);
    cursor: pointer;
  }
}
main .hero-image-container{
  width: 45%;
  opacity: 0;
  animation: zoom 0.5s ease forwards, heroAnimate ease-in-out 3s infinite;
  animation-delay: 0.5s, 1.5s;
  & img{
    width: 75%;
    display: block;
    margin: auto;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    box-shadow: 0 0.5rem 1rem var(--masterblue);
  }
}
.projects-container{
  padding-top:4rem;
  padding-bottom: 1rem;
  width:100%;
  text-align: center;
  background-color: var(--backgroundcolor);
  overflow: hidden;
}
.projects-container > p{
  color:var(--text);
}
.projects-container > h2{
  color: var(--masterblue);
}
.projects{
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2rem;
  justify-items: center;
  overflow: hidden;
}
.projects .project{
  width:75%;
  height:27rem;
  padding-top:0.3rem;
  border-radius: 1rem;
  border: solid 0.1rem var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--backgroundcolor);
  transition: all ease 0.5s;
  overflow: hidden;
  &:nth-child(even){
    transform: translateX(100vw);
  }
  &:nth-child(odd){
    transform: translateX(-100vw);
  }
}
.projects .project-translatex{
  &:nth-child(even){
    transform: translateX(0);
  }
  &:nth-child(odd){
    transform: translateX(0);
  }
}
.projects .project h2{
  border-radius: 1rem;
  color: var(--masterblue);
}
.projects .project p{
  color: var(--text);
}
.projects .project img{
  width: 100%;
  align-items: baseline;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.projects-container .websites-container{
  width:100%;
  padding:2.5rem 0 0;
}
.websites-container > h2{
  color: var(--masterblue);
}
.websites{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap:2rem;
  margin-top: 1.5rem;
}
.websites .website{
  width: 45%;
  border: solid 0.1rem ;
  transition: all ease 0.5s;
  border:solid 0.1rem var(--text);
}
.websites .website:hover{
  transform:scale(1.05)
}
.websites .website img{
  display: block;
  margin: auto;
  width: 100%;
}
.websites .todo{
  width: 40%;
}
.about-container{
  width:100%;
  text-align: center;
  padding:3.5rem 1rem 2rem;
  background-color: var(--backgroundcolor);
}
.about-container > p{
  color: var(--text);
}
.about-container > h2{
  color: var(--masterblue);
  margin-bottom: 1rem;
}
.certificates-container{
  width: 100%;
  display: flex;
  gap:2.5rem;
  align-items: center;
  justify-content: center;
}
.certificates-container .scroll-container{
  width: 32.5rem;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.certificates-container .scroll-container::-webkit-scrollbar{
  display: none;
}
.certificates-container .scroll-container img{
  width: 100%;
  height: 100%;
  animation: scroll 30s infinite linear;
  object-fit: contain;
}
.about-details-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  align-items: center;
  justify-items: center;
}
.about-details-container .about-box{
  width:80%;
  margin:1.75rem 0;
  padding:1.75rem 0;
  border: solid 0.15rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  border-color: var(--text);
  opacity: 0;
}
.about-details-container .zoom{
  animation: zoom 0.5s ease forwards;
}
.about-details-container .about-box .language{
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 25%;
}
.about-details-container .about-box h3{
  color: var(--masterblue);
}
.about-box p{
  color: var(--text);
}
.about-details-container div p span{
  margin-right: 1rem;
  color: var(--masterblue);
}
.footer-container{
  width: 100%;
  padding:1rem;
  text-align: center;
  background-color: var(--backgroundcolor);
}
.footer-container h2{
  color: var(--masterblue);
}
.footer-container p{
  color: var(--text);
}
.footer-links-container{
  padding:1rem;
}
.footer-links-container a i{
  color: var(--masterblue);
  font-size: 2.5rem;
  margin: 0 1rem;
}
/* Key Frames */
@keyframes slide-right{
  0%{
    transform: translate(-75%);
  }
  100%{
    transform: translate(0%);
    opacity: 1;
  }
}
@keyframes slide-top{
  0%{
    transform: translateY(2.5rem);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoom{
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heroAnimate{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(1rem);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes scroll {
  0%,12.5%{
    transform: translateX(0);
  }
  17.5%,30%{
    transform: translateX(-100%);
  }
  35%,47.5%{
    transform: translateX(-200%);
  }
  52.5%,65%{
    transform: translateX(-300%);
  }
  70%,82.5%{
    transform: translateX(-400%);
  }
  87.5%,100%{
    transform: translateX(-500%);
  }
}
/* Media queris */
@media (width<450px){
  header{
    padding:0.5rem 1rem;
  }
  header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: var(--backgroundcolor);
    top: 3.325rem;
    right: 0;
    width: 0;
    height: 35vh;
    font-size: 0.1rem;
    overflow: hidden;
    transition: all 0.25s;
  }
  header .active-nav{
    padding:0.5rem 0;
    width: 50%;
    font-size: 1rem;
  }
  header .menu-icon-container{
    display: block;
    animation: zoom 0.75s ease;
    & i{
      color: var(--masterblue);
      font-size: 2rem;
    }
  }
  main{
    height: 95vh;
    flex-direction: column-reverse;
    justify-content: end;
    gap:2.5rem;
    padding:2.5rem 1rem;
    & .hero-details-container{
      width: 100%;
      & p{
        font-size: 1rem;
      }
    }
    & .hero-image-container{
      width: 100%;
      & img{
        width: 80%;
        border-radius: 0;
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        box-shadow: -0.15rem -0.15rem 1rem var(--masterblue);
      }
    }
  }
  .projects{
    grid-template-columns: 1fr;
    padding:1rem;
  }
  .projects .project{
    width:100%;
    height: 27rem;
  }
  .websites{
    flex-wrap: wrap;
  }
  .websites .website{
    min-width: 90%;
    max-width: 90%;
  }
  .about-container{
    padding-top: 4rem;
  }
  .about-details-container{
    gap:0.5rem;
    grid-template-columns: 1fr;
  }
  .about-details-container div{
    padding:1rem 0;
    margin: 1.25rem 0;
    width:90%;
    font-size: 0.8rem;
  }
  .about-details-container div .language{
    padding-left:35%;
  }
}
