@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Anton&display=swap";
@import "tailwindcss";


@theme {
  --color-primary: #edf2f8;
  --color-secondary: #313bac;
  --color-black: #030303;
  --color-lightGray: #e4e4e4;
  --color-gray: #6b7688;
  --color-brown: #46364a;

  --font-dmSans: "DM Sans", serif;
  --font-anton: Anton, serif;

  --shadow-hero: 0 0 20px rgba(0, 0, 0, 0.1);

  --animate-moveUpDown: moveUpDown 4s ease-in-out infinite;
  --animate-slideLeft: slideLeft 1s ease-out forwards;
  --animate-slideRight: slideRight 1s ease-out forwards;
  --animate-slideUp: slideUp 1s ease-out forwards;
  --animate-slideDown: slideDown 1s ease-out forwards;
  --animate-fadeIn: fadeIn 1s ease-in forwards;
  --animate-ringFadeIn: ringFadeIn 2s ease-in forwards;
  --animate-linearGradientAnimation: linearGradientAnimation 7s linear infinite alternate;
  --animate-fadeInUp: fadeInUp 1s linear forwards;

  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12%);
    }
  }
  @keyframes slideLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes ringFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes linearGradientAnimation {
    from {
      background-position: 0% center;
    }
    to {
      background-position: 100% center;
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    user-select: none;
  }
  
  html {
    @apply scroll-smooth;
    font-family: var(--font-dmSans);
  }

  html::-webkit-scrollbar {
    display:  none;
  }
}


.linear-gradient-text {
  background: linear-gradient(
      45deg,
      rgb(241, 124, 88),
      rgb(233, 69, 132),
      rgb(36, 170, 219),
      rgb(39, 219, 177),
      rgb(255, 220, 24),
      rgb(255, 55, 6)
    )
    0% 0% / 600% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.swiper-wrapper {
  @apply items-center;
}
